.carousel
  margin 2em 0
  text-align justify

  &-content
    &[open]
      border-bottom 1px solid lightgray
      .carousel-header
        &::marker, &::-webkit-details-marker
          color var(--softRed)

  &-header
    font-size 0.9em
    border-bottom 1px solid lightgray
    padding 1em 0

    &:focus
      outline 0

    &::marker,
    &::-webkit-details-marker
      color var(--softBlue)
      float right





  //summary
  //  //border 1px solid blue
  //  list-style: none
  //
  //  font-size 0.8em
  //
  //summary::-webkit-details-marker
  //  display: none
  //  //padding 1em 0
  //
  //
  //summary::after
  //  float right
  //  content: url("../images/icon-arrow.svg");
  //  ////  //content: ' ►'
  //
  ////details[open] summary:after
  ////  float right
  ////  //content: ' ►';
  //
  //
  //


