.footer
  background-color  var(--veryDarkBlue)
  padding 2.5em 0
  text-align center

  ul
    display block
    margin-top 1em
    li
      padding 1.2em 0
      a
        color lightgrey
        letter-spacing 2px
        text-decoration none
        text-transform uppercase

  .footer-social
    margin-top  2em
    a
      width 40px
      height 40px
      display inline-block
    .facebook
      background url('../images/icon-facebook.svg') no-repeat center
    .twitter
      background url("../images/icon-twitter.svg") no-repeat center

@media screen and (min-width 1024px)

  .footer-primary
    display flex
    //justify-content space-between
    align-items center
    img
      margin-right 1.5em
      padding 2em

    .footer-menu
      display flex
      margin 0
      li
        padding 2em

    .footer-social
      padding 2em
      margin-top 0
      position absolute
      right 0
















