.join
  background-color  var(--softBlue)
  small
    text-transform uppercase
    letter-spacing 7px


  color white
  padding 3em 0
  text-align center
  .form
    max-width 470px
    margin auto
    .u-button
      margin 0
    &-input
      border none
      border-radius 10px
      box-sizing border-box
      font-size 1em
      padding 1em
      margin-bottom 1em
      width 100%

  @media screen and (min-width 1024px)
    h4
      font-size 2em
      max-width 470px
      margin auto
      padding 1.5em

    .form
      display flex
      &-input
        flex-shrink 0
        width 70%
        margin-right 1em
        margin-bottom 0





