.menu {
    border: 1px solid #00f;
    margin: 10px;
    display: none
}

.menu-checkbox {
    margin: 2em
}

.menu-checkbox:checked ~ .menu-open {
    border: 1px solid #0ff
}

.menu-checkbox:checked ~ .menu {
    border: 1px solid #f00;
    display: block
}

.menu-open {
    border: 1px solid #adff2f;
    user-select: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    background: url("../images/icon-hamburger.svg") no-repeat center
}
