@import "carousel.styl"
.questions
  padding  4em 0 8em
  text-align center
  .u-wrapper
    .u-p
      max-width 600px
      margin auto
      padding-bottom 2em

    button
      margin-top 2em




