.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47,53,79,0.9);
  height: 100vh;
  transform: translatey(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  border-radius: 8px;
  margin-top: 1em;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47,53,79,0.9);
}
.menu-checkbox:checked ~ .header .menu-open {
  background-image: url("../images/icon-close.svg");
}
.menu-checkbox:checked ~ .header .header-logo {
  background: url("../images/logo-bookmark-white.svg") no-repeat center;
  background-size: contain;
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    position: initial;
    height: auto;
    background: initial;
  }
  .menu ul {
    display: flex;
  }
  .menu ul li {
    border: none;
  }
  .menu ul li:last-child a {
    background: var(--softRed);
    border: none;
    border-radius: 0.5em;
    color: #fff;
    margin-left: 2em;
    margin-top: 0;
    padding: 0.7em 2em;
  }
  .menu ul li a {
    color: var(--veryDarkBlue);
  }
  .menu-open {
    display: none;
  }
}
.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 2;
}
.header-logo {
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url("../images/logo-bookmark.svg") no-repeat center;
  background-size: contain;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  padding: 4em 0;
  text-align: center;
}
.hero-image {
  max-width: 100%;
}
.hero-buttons {
  padding-top: 1em;
}
@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    padding: 2em 0;
  }
  .hero-grid {
    align-items: center;
    display: grid;
    grid-template-columns: 490px 1fr;
    grid-template-areas: "content image";
  }
  .hero-imageContainer {
    grid-area: image;
    position: relative;
    top: 50px;
    text-align: center;
  }
  .hero-content {
    grid-area: content;
  }
}
.tabs {
  margin-top: 2em;
  border-top: 1px solid var(--grayishBlue);
}
.tabs-link {
  border-bottom: 1px solid var(--grayishBlue);
}
.tabs-content {
  display: none;
  flex-direction: column;
}
.tabs-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}
.tabs-grid {
  margin-top: 4em;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs label:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0px -10px var(--softRed);
}
.tabs input {
  display: none;
}
.tabs input[id="bookmarking"]:checked ~ ul [for="bookmarking"]:after {
  display: block;
}
.tabs input[id="bookmarking"]:checked ~ .tabs-grid #tab-bookmarking {
  display: flex;
}
.tabs input[id="searching"]:checked ~ ul [for="searching"]:after {
  display: block;
}
.tabs input[id="searching"]:checked ~ .tabs-grid #tab-searching {
  display: flex;
}
.tabs input[id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs input[id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .tabs {
    border-top: none;
    text-align: left;
  }
  .tabs ul {
    display: flex;
    justify-content: center;
  }
  .tabs label {
    padding: 2em 2em;
    font-weight: bold;
  }
  .tabs label:after {
    width: 100%;
    transform: translateX(0%);
  }
  .tabs img {
    margin-right: 6em;
    margin-bottom: 0;
  }
  .tabs-content {
    flex-direction: row;
  }
}
.features {
  text-align: center;
  padding: 3em 0;
}
.features .u-wrapper .u-p {
  max-width: 500px;
  margin: 0 auto;
}
.download {
  text-align: center;
  margin-bottom: 3em;
  padding: 3em 0;
}
.download .u-wrapper p .u-p {
  max-width: 500px;
}
.download-grid {
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-row-gap: 2em;
}
.download-grid img {
  margin-top: 1em;
}
.download-item {
  padding: 1.5em;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 5px 12px -4px var(--grayishBlue);
  background: url("../images/bg-dots.svg") repeat-x center bottom 100px;
}
.download-item .u-p {
  margin-bottom: 4em;
  margin-top: 0.5em;
}
.download-item .u-h3 {
  margin-bottom: 0.5rem;
  margin-top: 1.5em;
}
@media screen and (min-width: 1024px) {
  .download-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 10em;
  }
  .download-item:nth-of-type(2) {
    top: 5em;
    position: relative;
  }
  .download-item:nth-of-type(3) {
    top: 10em;
    position: relative;
  }
}
.carousel {
  margin: 2em 0;
  text-align: justify;
}
.carousel-content[open] {
  border-bottom: 1px solid #d3d3d3;
}
.carousel-content[open] .carousel-header::marker,
.carousel-content[open] .carousel-header::-webkit-details-marker {
  color: var(--softRed);
}
.carousel-header {
  font-size: 0.9em;
  border-bottom: 1px solid #d3d3d3;
  padding: 1em 0;
}
.carousel-header:focus {
  outline: 0;
}
.carousel-header::marker,
.carousel-header::-webkit-details-marker {
  color: var(--softBlue);
  float: right;
}
@media screen and (min-width: 1024px) {
  .carousel {
    border-top: 1px solid #d3d3d3;
    max-width: 600px;
    margin: auto;
  }
}
.questions {
  padding: 4em 0 8em;
  text-align: center;
}
.questions .u-wrapper .u-p {
  max-width: 600px;
  margin: auto;
  padding-bottom: 2em;
}
.questions .u-wrapper button {
  margin-top: 2em;
}
.join {
  background-color: var(--softBlue);
  color: #fff;
  padding: 3em 0;
  text-align: center;
}
.join small {
  text-transform: uppercase;
  letter-spacing: 7px;
}
.join .form {
  max-width: 470px;
  margin: auto;
}
.join .form .u-button {
  margin: 0;
}
.join .form-input {
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .join h4 {
    font-size: 2em;
    max-width: 470px;
    margin: auto;
    padding: 1.5em;
  }
  .join .form {
    display: flex;
  }
  .join .form-input {
    flex-shrink: 0;
    width: 70%;
    margin-right: 1em;
    margin-bottom: 0;
  }
}
.footer {
  background-color: var(--veryDarkBlue);
  padding: 2.5em 0;
  text-align: center;
}
.footer ul {
  display: block;
  margin-top: 1em;
}
.footer ul li {
  padding: 1.2em 0;
}
.footer ul li a {
  color: #d3d3d3;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.footer .footer-social {
  margin-top: 2em;
}
.footer .footer-social a {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.footer .footer-social .facebook {
  background: url("../images/icon-facebook.svg") no-repeat center;
}
.footer .footer-social .twitter {
  background: url("../images/icon-twitter.svg") no-repeat center;
}
@media screen and (min-width: 1024px) {
  .footer-primary {
    display: flex;
    align-items: center;
  }
  .footer-primary img {
    margin-right: 1.5em;
    padding: 2em;
  }
  .footer-primary .footer-menu {
    display: flex;
    margin: 0;
  }
  .footer-primary .footer-menu li {
    padding: 2em;
  }
  .footer-primary .footer-social {
    padding: 2em;
    margin-top: 0;
    position: absolute;
    right: 0;
  }
}
:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
}
body {
  font-family: 'Rubik', sans-serif;
  color: var(--veryDarkBlue);
  margin: 0;
  font-size: 18px;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.is-hidden {
  display: none !important;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
.u-h1,
.u-h4 {
  font-size: 2em;
  font-weight: 500;
}
.u-h2 {
  font-size: 1.4em;
}
.u-h4 {
  font-size: 1.3em;
  margin-top: 0.5em;
}
.u-p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}
.u-button {
  background: var(--softBlue);
  color: #fff;
  padding: 1em 1.1em;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 5px 12px -4px var(--grayishBlue);
  cursor: pointer;
  margin-left: 0.4em;
  -webkit-appearance: none;
}
.u-button:firt-of-type {
  margin: 0;
}
.u-button.is-gray {
  background: #f8f8ff;
  color: var(--veryDarkBlue);
}
.u-button.is-fullWidth {
  width: 100%;
}
.u-button.is-red {
  background: var(--softRed);
  color: #fff;
}
